In [1]:
import pandas as pd
df = pd.read_csv("new_insurance_data.csv")

In [2]:
df.head()

   Age Country  Salary  Insurance Purchase
0   56  Canada   27706                   1
1   46  Canada   29624                   1
2   32     USA   27666                   0
3   60  Canada   20892                   1
4   25  Canada   18561                   0

In [3]:
df['Salary'].max()

29948

In [5]:
df['Salary'].min()

15206

In [6]:
df['Age'].min()

19

In [7]:
df['Age'].max()

64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 50 non-null     int64
 1   Country             50 non-null     object
 2   Salary              50 non-null     int64
 3   Insurance Purchase  50 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [9]:
dummies = pd.get_dummies(df.Country)

In [10]:
dummies.head(6)

   Canada  Nigeria  USA
0       1        0    0
1       1        0    0
2       0        0    1
3       1        0    0
4       1        0    0
5       0        1    0

In [11]:
Merge = pd.concat([df,dummies], axis = 1)

In [14]:
Merge.head(6)

   Age  Country  Salary  Insurance Purchase  Canada  Nigeria  USA
0   56   Canada   27706                   1       1        0    0
1   46   Canada   29624                   1       1        0    0
2   32      USA   27666                   0       0        0    1
3   60   Canada   20892                   1       1        0    0
4   25   Canada   18561                   0       1        0    0
5   38  Nigeria   25470                   0       0        1    0

In [16]:
Finally = Merge.drop(['Country','USA'],axis = 1)
Finally.sample(6)

    Age  Salary  Insurance Purchase  Canada  Nigeria
20   47   17731                   1       0        1
14   41   27790                   1       0        0
19   61   29434                   1       0        1
17   19   29039                   0       0        1
38   24   19488                   0       1        0
8    40   21278                   1       0        1

In [17]:
X = Finally.drop('Insurance Purchase',axis = 1)

In [18]:
y = Finally['Insurance Purchase']

In [21]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size= 0.2,random_state = 30)

In [24]:
X_train.shape

(40, 4)

In [25]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [26]:
model.fit(X_train,y_train)

C:\Users\THE OGUNMOLAS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [27]:
X_test

    Age  Salary  Canada  Nigeria
41   56   20977       0        0
20   47   17731       0        1
32   33   22385       0        0
43   21   22035       0        0
10   28   29151       0        1
29   44   25882       0        0
33   32   15502       0        1
25   29   20056       1        0
34   64   21910       0        0
19   61   29434       0        1

In [28]:
y_test

41    1
20    1
32    0
43    0
10    0
29    1
33    0
25    0
34    1
19    1
Name: Insurance Purchase, dtype: int64

In [29]:
model.predict ([[18,1000,0,1]])

C:\Users\THE OGUNMOLAS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [30]:
y_predicted = model.predict(X_test)

In [31]:
y_predicted

array([1, 1, 0, 0, 0, 1, 0, 0, 1, 1], dtype=int64)

In [33]:
model.score(X,y)

0.98

In [35]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_predicted) 
print('Accuracy:',accuracy )

Accuracy: 1.0

In [36]:
import joblib as jb
jb.dump(model,'Insurance Model_new')

['Insurance Model_new']